@page {
  size: A4 portrait;
  margin: 14mm;
}

html,
body {
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'VT323', monospace;
  font-weight: 400;
  font-size: 1rem;
  color: #282828;

  @media screen {
    min-height: 100vh;
  }
}
