button {
  margin: 0;
  background: none;
  vertical-align: middle;
  border: none;
  font: inherit;
  color: inherit;
}

.button {
  padding: 12px 16px;
  cursor: pointer;

  display: flex;
  align-items: center;

  &:disabled {
    color: #d8d8d8;
    cursor: not-allowed;
  }
}
