@import 'base';
@import 'mixins';
@import 'typography';
@import 'buttons';
@import 'utilities';

body {
  background: #1e507b;
  background: linear-gradient(to bottom right, #1e507b, #9a6ff2);
}

.container {
  @media screen {
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 210mm;
  }
}

.header {
  padding: 32px 16px;
  padding-bottom: 24px;
  color: #fafafa;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media print {
    display: none;
  }
}

.paper {
  margin-bottom: 1.5rem;

  @media screen {
    padding: 14mm;
    background: #fafafa;
    box-shadow: 6px 10px 48px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    min-height: 297mm;
  }
}

.content {
  display: grid;
  grid-template: auto / 1fr 1fr;
  column-gap: 1rem;
  row-gap: 0.5rem;
}
